[manifest]
version = "0.1.0"
dump_lua = true
priority = 0

[[patches]]
# Get key events
[patches.pattern]
target = "main.lua"
pattern = '''if name == 'touchpressed' then'''
position = "before"
payload = '''
do
	local fnf = photochadfunkin
	if fnf ~= nil then
		if ((name == 'keypressed' and c == false) or name == 'keyreleased') then
			fnf.keyEvents[#fnf.keyEvents + 1] = {run_time, a, name == 'keypressed'}
		elseif name == "resize" then
			fnf:resize(a, b)
		end
	end
end
'''
match_indent = true