[manifest]
version = "0.1.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''local card = Card(0,0, 0.5*G.CARD_W, 0.5*G.CARD_H, G.P_CARDS[v[1]], G.P_CENTERS.c_base)'''
position = "at"
payload = '''local card = Card(0,0, 0.5*G.CARD_W, 0.5*G.CARD_H, G.P_CARDS[v[1]], G.P_CENTERS[v[3] or 'c_base'])'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = 'for _, v in ipairs(info_queue) do'
position = "before"
payload = '''
-- ellejokers. stuff :p
if (card) then
	-- Spearlamp support
	if (#SMODS.find_card("j_elle_spearlamp", false)>0) then
		if (_c.key == "m_steel") then info_queue[#info_queue+1] = G.P_CENTERS.m_elle_slime end
		if (_c.key == "m_elle_slime") then info_queue[#info_queue+1] = G.P_CENTERS.m_steel end
	end

	-- Upgrade support
	if (_c.elle_upgrade and _c.discovered) then
		--		[[ Upgrade Requirements ]]
		info_queue[#info_queue+1] = {set = "Other", key = "elle_upgr_".._c.key, specific_vars = (_c.elle_upgrade.loc_vars and _c.elle_upgrade:loc_vars(card) or {}) }
		
		--		[[ Upgrade Preview ]]
		local upgrade_center = SMODS.shallow_copy(G.P_CENTERS[_c.elle_upgrade.card]) -- Upgrade target
		
		-- Upgrade variable stuff
		if (not upgrade_center.unlocked) then										-- Locked
			upgrade_center = {set = "Other", key = "elle_upgr_locked"}
		elseif (not upgrade_center.discovered) then									-- Not Discoverd
			upgrade_center = {set = "Other", key = "elle_upgr_not_discovered"}
		else																		-- Unlocked
			upgrade_center.config = copy_table(upgrade_center.config) -- OG vars
			local upgrade_vars = _c.elle_upgrade.values and _c.elle_upgrade:values(card) or {}
			for k, v in pairs(upgrade_vars) do
				upgrade_center.config.extra[k] = v
			end
			
			-- Use correct localization
			local upgrade_loc_values = upgrade_center:loc_vars({}, {ability = upgrade_center.config, config = {center = upgrade_center}}).vars
			upgrade_center.loc_vars = function() return {vars = upgrade_loc_values} end
		end

		info_queue[#info_queue+1] = upgrade_center
	end
end
'''
match_indent = true
